@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: auto;
	font-family: 'SDSamliphopangche_Outline';
    padding: 0px;
    margin: 0px;
}

header {
    background: white;    
}
.Contents{
	font-family: 'Arial';
    padding: 20px;
    line-height: 1;
}
.header-border{
    border-bottom: 1px solid lightgray;
}
.topMenu{
    width: 350px;
    margin: 0px auto;    
    display:flex;
}
.topMenu img{
    width: 80px;
    cursor: pointer;
    margin: 10px auto 10px 10px;
}
.search-region{
    margin: auto 10px;
}
.search-box {
    line-height: 1;
    margin: auto 5px;
}
.search-box input{    
    height: 30px;
    vertical-align: middle;   
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px;
    border-color: lightslategray; 
}
.search-box input:focus{
    outline: none;
}

.circle-button{
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 150px;
    border-color: gray;    
    border-width: 0px;
    vertical-align: middle;    
    line-height: 1;
    text-align: center;
    padding: 0;
}
.circle-button:hover{
    cursor: pointer;
}

.header-region {
    border-bottom: 1px solid lightgray;
    margin: auto;
}

.main-menu {
    width: 460px;
    margin: auto;
}

.main-menu ul li {
    list-style: none;    
    font-size: 24px;
    float: left;
    margin: 10px;  
    line-height: 1;
    vertical-align:middle;
}

.main-menu ul li:hover{
    color: green;
    cursor : pointer;
}
.main-menu ul li::selection{
    color: black;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}