@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: auto;
	font-family: 'SDSamliphopangche_Outline';
    padding: 0px;
}

header {
    background: white;
    border-bottom: 1px solid lightgray;
}
.Contents{
	font-family: 'Arial';

}

.header-region {
    background-color: transparent;
    width: 640px;
    margin: auto;
}

.header-left {
    width: 52px;
    height: 52px;
}

.logo {
    float: left;
    margin: 5px;
}

.logo img {
    display: block;
}

.main-menu {
    float: left;
}

.main-menu-item {
    list-style: none;
    font-size: 24px;    
    float: left;
    line-height: 1;
    margin: 10px;
    vertical-align:middle;    
}

.main-menu-item:hover{
    color: green;
    cursor : pointer;
}
.main-menu-item::selection{
    color: green;
    font-weight: 300;
}

#main{
    margin: auto;
    width: 650px;    
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}